.rs-banner {
  position: relative;
  height: 100vh;
  max-height: 918px;
  padding-top: 74px;
  background-color: var(--primary-color);
}
.rs-banner__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  overflow: hidden;
  width: 40%;
  height: 80%;
  -webkit-transform: translate(-50%, -50%) scale3d(0.2, 0.2, 1);
          transform: translate(-50%, -50%) scale3d(0.2, 0.2, 1);
  border-radius: 1000px;
  -webkit-transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s !important;
  transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s !important;
  will-change: transform, width, height;
}
.rs-banner__bg.aos-animate {
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  border-radius: 0px;
}
.rs-banner__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-banner__container {
  border-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 10;
}
.rs-banner__content {
  height: 100%;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.rs-banner__elem {
  position: absolute;
  z-index: -1;
}
.rs-banner__elem-left {
  top: 0;
  left: 0;
}
.rs-banner__elem-right {
  right: 0;
  bottom: 0;
}
.rs-banner__desc {
  color: #fff;
}