.rs-product__container {
  padding-top: 110px;
}
@media (max-width: 1439.98px) {
  .rs-product__container {
    padding-top: 95px;
  }
}
@media (max-width: 1169.98px) {
  .rs-product__container {
    padding-top: 80px;
  }
}
@media (max-width: 991.98px) {
  .rs-product__container {
    padding-top: 65px;
  }
}
@media (max-width: 767.98px) {
  .rs-product__container {
    padding-top: 50px;
  }
}
.rs-product__wrapper {
  background-color: #fff;
}
@media (min-width: 991.98px) {
  .rs-product__wrapper {
    padding: 30px;
    border: 1px solid #dee7ed;
    border-radius: 30px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-product__wrapper {
    padding: 20px;
  }
}
@media (min-width: 991.98px) and (max-width: 1169.98px) {
  .rs-product__wrapper {
    padding: 15px;
  }
}
@media (max-width: 991.98px) {
  .rs-product__slider {
    overflow: visible;
  }
}
.rs-product__swiper {
  counter-reset: li;
}
.rs-product__item {
  border: 1px solid #d9e2e8;
  border-radius: 20px;
  position: relative;
}
@media (any-hover: hover) {
  .rs-product__item:hover .rs-product__elem-left svg path {
    fill: var(--primary-color);
  }
  .rs-product__item:hover .rs-product__num::before {
    color: var(--primary-color);
  }
  .rs-product__item:hover .rs-product__btn svg path {
    fill: var(--primary-color);
  }
}
.rs-product__link {
  display: block;
  width: 100%;
  height: 100%;
}
.rs-product__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 30px 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
@media (max-width: 1439.98px) {
  .rs-product__desc {
    padding: 24px;
  }
}
@media (max-width: 1169.98px) {
  .rs-product__desc {
    padding: 16px;
  }
}
.rs-product__head h4 sup {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  display: inline-block;
  margin: 2px -6px 0px -8px;
}
.rs-product__head h6 {
  margin-bottom: -10px;
}
.rs-product__head h6 sup {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  display: inline-block;
  margin: 0px -3px 0px -5px;
}
.rs-product__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rs-product__num::before {
  display: block;
  counter-increment: li;
  content: counter(li, decimal-leading-zero);
  font-weight: 400;
  font-size: 103px;
  color: #e3ecf2;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (max-width: 1439.98px) {
  .rs-product__num::before {
    font-size: 84.75px;
  }
}
@media (max-width: 1169.98px) {
  .rs-product__num::before {
    font-size: 66.5px;
  }
}
@media (max-width: 991.98px) {
  .rs-product__num::before {
    font-size: 48.25px;
  }
}
@media (max-width: 767.98px) {
  .rs-product__num::before {
    font-size: 30px;
  }
}
.rs-product__btn svg path {
  -webkit-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}
.rs-product__picture {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 90.2%;
}
.rs-product__picture::after {
  content: "";
  position: absolute;
  bottom: 145px;
  left: 30px;
  right: 30px;
  width: calc(100% - 60px);
  height: 1px;
  background-color: #d9e2e8;
  z-index: -1;
}
@media (max-width: 1439.98px) {
  .rs-product__picture::after {
    bottom: 121.25px;
  }
}
@media (max-width: 1169.98px) {
  .rs-product__picture::after {
    bottom: 97.5px;
  }
}
@media (max-width: 991.98px) {
  .rs-product__picture::after {
    bottom: 73.75px;
  }
}
@media (max-width: 767.98px) {
  .rs-product__picture::after {
    bottom: 50px;
  }
}
@media (max-width: 1439.98px) {
  .rs-product__picture::after {
    left: 24px;
    right: 24px;
    width: calc(100% - 48px);
  }
}
@media (max-width: 1169.98px) {
  .rs-product__picture::after {
    left: 16px;
    right: 16px;
    width: calc(100% - 32px);
  }
}
@media (max-width: 991.98px) {
  .rs-product__picture::after {
    display: none;
  }
}
.rs-product__img {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.rs-product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.rs-product__elem {
  position: absolute;
}
@media (max-width: 991.98px) {
  .rs-product__elem {
    display: none;
  }
}
.rs-product__elem-left {
  left: 0px;
  top: 101px;
}
.rs-product__elem-left svg path {
  -webkit-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}
.rs-product__elem-right {
  top: 104px;
  right: 30px;
}