@import "base/_mixin";

.rs-footer {
	background-color: var(--primary-color);
	color: #fff;
	position: relative;
	padding: 60px 0px;

	// .rs-footer__elem
	&__elem {
		position: absolute;
		z-index: 0;
	}

	// .rs-footer__elem-left
	&__elem-left {
		bottom: 0;
		left: 0;
	}

	// .rs-footer__container
	&__container {
		border: none;
		position: relative;
		z-index: 1;
	}

	// .rs-footer__block
	&__block {
		padding: 0px 30px;
		display: grid;
		grid-template-columns: repeat(14, 1fr);
		gap: 0px;
	}

	// .rs-footer__content
	&__content {
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-radius: 30px;
		grid-column: 9 span;
		padding: 40px 40px 44px;
	}

	// .rs-footer__wrapper
	&__wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	// .rs-footer__logo
	&__logo {
		max-width: 110px;
		width: 100%;
		margin-right: 20px;

		a {
			display: block;
			width: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	// .rs-footer__info
	&__info {
		width: 100%;
		max-width: 694px;
		padding-top: 1px;
	}

	// .rs-footer__top
	&__top {
	}

	// .rs-footer__spollers
	&__spollers {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		// .rs-footer__spollers_item
		&_item {
			width: 100%;

			&:first-child {
				max-width: 328px;

				.rs-footer__spollers_body {
					.rs-footer__menu {
						.menu {
							&__list {
								li {
									&:not(:last-child) {
										margin-bottom: 15px;
									}

									&:nth-child(1),
									&:nth-child(2) {
										font-weight: 600;
										font-size: 22px;
										margin-bottom: 12px;
									}

									&:nth-child(2) {
										margin-bottom: 28px;
									}
								}
							}
						}
					}
				}
			}
			&:last-child {
				max-width: 274px;
			}

			&:not(:last-child) {
				margin-right: 20px;
			}
		}

		// .rs-footer__spollers_title
		&_title {
			letter-spacing: 0.03em;
			color: rgba(255, 255, 255, 0.8);
		}

		// .rs-footer__spollers_body
		&_body {
			margin-top: 36px;
		}
	}

	// .rs-footer__menu
	&__menu {
		.menu {
			// .menu__body
			&__body {
			}

			// .menu__list
			&__list {
				li {
					font-weight: 500;
					font-size: 14px;
					color: #fff;

					&:not(:last-child) {
						margin-bottom: 17px;
					}

					a {
						background: linear-gradient(currentColor 0 0) 0 100% / var(--d, 0) 1px no-repeat;
						transition: 0.5s;

						@media (any-hover: hover) {
							&:hover {
								--d: 100%;
							}
						}
					}
				}
			}
		}

		.rs-btn {
			margin-top: 35px;
			padding-top: 12px;
			padding-bottom: 12px;
			font-weight: 500;
			font-size: 15px;
			width: 100%;
			max-width: 290px;
		}
	}

	// .rs-footer__bottom
	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 116px;
		font-weight: 500;
		font-size: 14px;
		color: #fff;
		margin-top: 90px;
	}

	// .rs-footer__copyright
	&__copyright {
	}

	// .rs-footer__dev
	&__dev {
	}

	// .rs-footer__picture
	&__picture {
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-radius: 30px;
		position: relative;
		overflow: hidden;
		z-index: 1;
		grid-column: 5 span;
		margin-left: 20px;
	}

	// .rs-footer__img
	&__img {
		padding: 0px 63px;
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: contain;
			animation: rotate360 100s linear 0s infinite;
		}

		@keyframes rotate360 {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}
	}

	// .rs-footer__bg
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
