@import "../base/_mixin";

.rs-about {
	// .rs-about__container
	&__container {
		padding-top: 20px;
	}

	// .rs-about__wrapper
	&__wrapper {
		@media (min-width: 991.98px) {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 24px;
		}

		@media (max-width: 991.98px) {
			display: flex;
			flex-direction: column-reverse;
		}
	}

	&__picture {
		position: relative;

		@media (min-width: 991.98px) {
			grid-column: 1 span;

			&::after {
				content: "";
				position: absolute;
				top: -20px;
				left: calc(100% + 19px);
				width: 1px;
				height: 150vh;
				background-color: #dee7ed;
			}
		}

		@media (max-width: 991.98px) {
			margin-top: 20px;
		}
	}

	// .rs-about__img
	&__img {
		width: 100%;
		height: 100%;
		border: 1px solid #dee7ed;
		border-radius: 30px;
		overflow: hidden;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding: 60px 24px 65px 0px;

		@include responsive-auto(padding-top, (60, 20), (1439.98, 1169.98, 991.98, 767.98));
		@include responsive-auto(padding-bottom, (65, 20), (1439.98, 1169.98, 991.98, 767.98));
		@include responsive-auto(padding-right, (24, 10), (1439.98, 1169.98, 991.98, 767.98));

		@media (max-width: 991.98px) {
			display: flex;
			align-items: center;
			@include responsive-auto(padding-left, (24, 10), (1439.98, 1169.98, 991.98, 767.98));
		}

		img {
			z-index: -1;
			animation: rotate360 200s linear 0s infinite;

			@media (min-width: 991.98px) {
				position: absolute;
				max-width: unset;
			}

			@media (max-width: 991.98px) {
				max-width: 300px;
			}
		}

		@keyframes rotate360 {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}
	}

	// .rs-about__content
	&__content {
		position: relative;
		border: 1px solid #dee7ed;
		border-radius: 30px;
		overflow: hidden;
		padding: 165px 0px 165px 90px;

		@include responsive-auto(padding-top, (165, 20), (1439.98, 1169.98, 991.98, 767.98));
		@include responsive-auto(padding-bottom, (165, 20), (1439.98, 1169.98, 991.98, 767.98));
		@include responsive-auto(padding-left, (90, 10), (1439.98, 1169.98, 991.98, 767.98));

		@media (max-width: 1439.98px) {
			@include responsive-auto(padding-right, (90, 10), (1439.98, 1169.98, 991.98, 767.98));
		}

		@media (min-width: 991.98px) {
			margin-left: 14px;
			grid-column: 3 span;
		}
	}

	// .rs-about__bg
	&__bg {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .rs-about__block
	&__block {
		@media (min-width: 1439.98px) {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}
	}

	// .rs-about__desc
	&__desc {
		width: 100%;

		@media (min-width: 1439.98px) {
			max-width: 70.8%;
		}

		h3 {
			margin-bottom: 36px;

			@include responsive-auto(margin-bottom, (36, 15), (1439.98, 1169.98, 991.98, 767.98));
		}

		p {
			margin: 17px 0px;

			@include responsive-auto(margin-top, (17, 10), (1439.98, 1169.98, 991.98, 767.98));
			@include responsive-auto(margin-bottom, (17, 10), (1439.98, 1169.98, 991.98, 767.98));
		}
	}

	// .rs-about__numbers
	&__numbers {
		margin-top: 36px;
		max-width: 768px;
		gap: 30px;
		display: flex;

		@media (max-width: 991.98px) {
			flex-direction: column;
			gap: 15px;
		}

		@include responsive-auto(margin-bottom, (36, 15), (1439.98, 1169.98, 991.98, 767.98));

		// .rs-about__numbers_item
		&_item {
			border-radius: 30px;
			padding: 23px 30px 27px;
			width: 100%;
			max-width: 370px;
			background: #f6f9fc;
			display: flex;
			align-items: flex-end;

			@include responsive-auto(padding-top, (23, 15), (1439.98, 1169.98, 991.98, 767.98));
			@include responsive-auto(padding-right, (30, 15), (1439.98, 1169.98, 991.98, 767.98));
			@include responsive-auto(padding-bottom, (27, 15), (1439.98, 1169.98, 991.98, 767.98));
			@include responsive-auto(padding-left, (30, 15), (1439.98, 1169.98, 991.98, 767.98));

			@media (max-width: 991.98px) {
				max-width: 100%;
			}
		}

		// .rs-about__numbers_big
		&_big {
			display: flex;
			align-items: center;
			font-weight: 500;
			font-size: 60px;
			// line-height: 66px;
			line-height: 110%;
			color: #2c2e35;

			@include responsive-auto(font-size, (60, 30), (1439.98, 1169.98, 991.98, 767.98));

			[data-digits-counter] {
				min-width: 100px;
				font-weight: 400;
				font-size: 80px;

				@include responsive-auto(font-size, (80, 35), (1439.98, 1169.98, 991.98, 767.98));
				@include responsive-auto(min-width, (100, 45), (1439.98, 1169.98, 991.98, 767.98));
			}
		}

		// .rs-about__numbers_text
		&_text {
			max-width: 152px;
			margin-left: 16px;
			font-size: 18px;
			// line-height: 20px;
			line-height: 110%;
			letter-spacing: 0.03em;
			color: #2c2e35;

			@include responsive-auto(font-size, (18, 14), (1439.98, 1169.98, 991.98, 767.98));
		}
	}

	// .rs-about__btn
	&__btn {
		margin-top: 15px;

		.rs-btn {
			@media (min-width: 1439.98px) {
				border-top-right-radius: 0px;
				border-bottom-right-radius: 0px;
			}

			@media (max-width: 767.98px) {
				width: 100%;
			}
		}
	}
}
