section {
	position: relative;
}

// Text ========================================================================================================================================================
h1 {
	font-weight: 400;
	font-size: 80px;
	// line-height: 80px;
	line-height: 100%;

	@include responsive-auto(font-size, (80, 25), (1439.98, 1169.98, 991.98, 767.98));

	@media (max-width: 991.98px) {
		font-weight: 500;
		line-height: 110%;
	}
}

h2 {
	font-weight: 400;
	font-size: 50px;
	// line-height: 55px;
	line-height: 110%;
	margin-bottom: 50px;
	padding-left: 33px;

	@include responsive-auto(font-size, (50, 24), (1439.98, 1169.98, 991.98, 767.98));
	@include responsive-auto(padding-left, (33, 10), (1439.98, 1169.98, 991.98, 767.98));
	@include responsive-auto(margin-bottom, (50, 20), (1439.98, 1169.98, 991.98, 767.98));
}

h3 {
	font-weight: 400;
	font-size: 40px;
	// line-height: 44px;
	line-height: 110%;

	@include responsive-auto(font-size, (40, 20), (1439.98, 1169.98, 991.98, 767.98));
}

h4 {
	font-weight: 400;
	font-size: 30px;
	// line-height: 33px;
	line-height: 110%;

	@include responsive-auto(font-size, (30, 16), (1439.98, 1169.98, 991.98, 767.98));
}

h5 {
	font-weight: 400;
	font-size: 22px;
	// line-height: 24px;
	line-height: 110%;
}

h6 {
	font-weight: 400;
	font-size: 14px;
	// line-height: 15px;
	line-height: 110%;
	color: var(--primary-color);

	@include responsive-auto(font-size, (14, 12), (1439.98, 1169.98, 991.98, 767.98));
}

p {
	font-weight: 400;
	font-size: 16px;
	// line-height: 22px;
	line-height: 140%;
	letter-spacing: 0.03em;
	color: #60617d;

	@include responsive-auto(font-size, (16, 14), (1439.98, 1169.98, 991.98, 767.98));
}

// Button ========================================================================================================================================================
.rs-btn {
	cursor: pointer;
	overflow: hidden;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 10;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);

	font-family: "Onest", sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
	padding: 20px 40px;
	gap: 10px;
	border: 1px solid transparent;
	border-radius: 38px;

	@include responsive-auto(font-size, (20, 14), (1439.98, 1169.98, 991.98, 767.98));
	@include responsive-auto(padding-top, (20, 12), (1439.98, 1169.98, 991.98, 767.98));
	@include responsive-auto(padding-right, (40, 16), (1439.98, 1169.98, 991.98, 767.98));
	@include responsive-auto(padding-bottom, (20, 12), (1439.98, 1169.98, 991.98, 767.98));
	@include responsive-auto(padding-left, (40, 16), (1439.98, 1169.98, 991.98, 767.98));

	&._btn-primary {
		background-color: var(--primary-color);

		&::after {
			background-color: var(--second-color);
		}

		@media (any-hover: hover) {
			&:hover {
				border-color: var(--second-color) !important;
			}
		}
	}

	&._btn-second {
		background-color: var(--second-color);

		&::after {
			background-color: var(--primary-color);
		}

		@media (any-hover: hover) {
			&:hover {
				border-color: var(--primary-color) !important;
			}
		}
	}

	&._btn-white-border {
		border-color: #fff;

		&::after {
			background-color: #fff;
		}

		@media (any-hover: hover) {
			&:hover {
				border-color: #fff !important;
				color: var(--font-color);

				svg {
					path {
						fill: var(--font-color);
					}
				}
			}
		}
	}

	svg {
		path {
			transition: fill 0.3s ease 0s;
		}
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 20px;
		height: 20px;
		border-radius: 50%;
		opacity: 0;
		transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
		z-index: -1;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		25% {
			transform: rotate(-8deg);
		}

		50% {
			transform: rotate(0deg);
		}

		75% {
			transform: rotate(8deg);
		}

		100% {
			transform: rotate(0deg);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			svg {
				animation: spin 1s linear infinite;
			}

			&::after {
				width: 500px;
				height: 500px;
				opacity: 1;
			}
		}
	}
}
